@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red Hat Text";
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Red Hat Text";
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
}

.custom-filter {
  filter: brightness(0) saturate(100%) invert(30%) sepia(31%) saturate(4011%) hue-rotate(352deg) brightness(88%) contrast(99%);
}

.white-svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(5%) hue-rotate(228deg) brightness(103%) contrast(103%);
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

